/*  Feuille de style de TrouveMaVideo */
body,.btnbleu
{
  background-color: #7eb6e5;
}
.haut
{
 width:100%;
 background-color:#7eb6e5;
 position:fixed;
 border-bottom: 2px solid #2175bb;
}
.barMenu
{
  background-color:#2175bb;
} 

.bas
{
 width:100%;
 position: absolute;
 top: 115px;
 z-index: -1;
}

.bordBleu 
{
  border: 2px solid #7eb6e5; 
}
.btn-action
{
  padding-bottom: 1px;
}
button img 
{
  max-width: 100%;
  height: auto;
}
.formContact
{
  width:50%;
  min-width:300px; 
}
.miniature
{
  padding:10%;
}
.w3-light-blue, .w3-hover-light-blue:hover 
{
    color: #fff !important;
    background-color: #ABD2F3 !important;
}
.referencer
{
   min-height: 50vh;
}
.zone_admin
{
  padding:5px;
}
.zone_admin h3
{
	background-color: #7eb6e5;
	color:#ffffff;
	padding:5px;
}
.centrer /*supprimer ?*/
{
   text-align:center; 
}
.w3-input
{
  min-width: 20vh;
}
.scrollV
{
  height: 90px;
  overflow-y: scroll;
}
.scrollCell
{
  word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
  hyphens: auto;	
  height:90px !important;
  overflow:auto;
}
/*Pagination de la recherche */
.center {
  text-align: center;
}

#tableau
{
  margin-left:10px;
  margin-right:10px;
  margin-top:-25px;
  overflow-x:auto;  
}
section select
{
  background-color: #7eb6e5;;
}

.etiquette
{
  background-color:#ffffff;
  color:#777777;
  text-align:center;
}
